*{
    text-decoration: none;
    list-style: none;
}
    body{
    background-color: #eaf6f6;
    font-family: cursive;

}
h3, h1{
    color: rgb(37, 209, 231);
}

header nav ul li {
    display: inline;
    padding: 0 15px;
}
hr{
    border: 50px dotted rgb(36, 187, 233);
    border-style: dotted;
    border-width: 8px 0 0;
    width: 90px;

}
a:hover{
    color: rgb(37, 209, 231);
}
.container{
    margin-top: 20px;
    padding: 0 12px;
}
.content li{
    text-align: center;
    display: inline;
    padding: 0 10px;
}
.content li a img{
    width: 10%;
    height: 10%;
}
.pcontainer{
    margin: 5px 25px;
    max-width: fit-content;
    padding: 5px;
}
.pcontainer p{
    padding: 5px 15px;
}
.Gbenga{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

